.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 2px solid red;
    transition: all 3s ease-in;
}
.box:hover{
    transform: translateY(-10px);
    transform: rotate(360deg);
    /* transform: skew(45deg); */
    color: white;
    /* background-color: gray; */
    background-image: url('https://www.vhv.rs/dpng/d/123-1238353_logo-royal-enfield-vector-hd-png-download.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 4px dashed yellow;
    border-radius: 50%;
}